<link type="text/css" rel="stylesheet" href="../../public/css/error.css">


    <div class="container">
        <h1>Oops!</h1>
        <h3><%= status %> - <%= message %></h3>
        <button>GOTO HOMEPAGE</button>
    </div>


